<!doctype html>

<html>
<head>
	<title>LAByrinth</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"> 
	<link href="/css/main.css" type="text/css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
</head>
<body>
	<div id="navbar" class="scrollmenu">
		<a href='profileB'>Profile</a>
		<a class="active" href='recipeSearchB'>Recipes</a>
		<a href='optionsB'>Options</a>
	</div>

	<div class="submenu">
		<a href='favoritesB'>Favorites</a>
		<a href='recentB'>Recent</a>
	</div>

	<h1 align="center" class="header"> FAVORITES </h1>

	{{#each favoriterecipes}}
      <div class="favoriterecipes">
        <a class="thumbnail" href="{{recipeURL}}">
          <img class="img-responzive" src="{{imageURL}}" />
          <h3>{{name}}</h3>
          <p>{{description}}</p>
          <label>{{servings}}</label>
          <br>
          <label>{{cookTime}}</label>
        </a>
      </div>
      <hr />
    {{/each}}



<script src="js/jquery-1.11.0.js"></script>
<script src="js/bootstrap.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114632773-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114632773-2');
</script>


</body>
</html>