<!doctype html>

<html>
<head>
	<title>LAByrinth</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"> 
	<link href="/css/main.css" type="text/css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
</head>
<body>
	<div id="navbar" class="scrollmenu">
		<a href='stats'>Stats</a>
		<a href='recipeSearch'>Recipes</a>
		<a class="active" href='favorites'>Favorites</a>
		<a href='recent'>Recent</a>
		<a href='options'>Options</a>
		<a href=#> Achievements </a>
	</div>

	<h1 align="center"> Favorites </h1>

	{{#each favoriterecipes}}
      <div class="favoriterecipes">
        <a class="thumbnail" href="{{recipeURL}}">
          <img class="img-responzive" src="{{imageURL}}" />
          <h3>{{name}}</h3>
          <p>{{description}}</p>
          <label>{{servings}}</label>
          <br>
          <label>{{cookTime}}</label>
        </a>
      </div>
      <hr />
    {{/each}}



<script src="js/jquery-1.11.0.js"></script>
<script src="js/bootstrap.js"></script>



</body>
</html>