<!doctype html>

<html>
<head>
	<title>LAByrinth</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"> 
	<link href="/css/main.css" type="text/css" rel="stylesheet">
	
</head>
<body>
	<div id="navbar" class="scrollmenu" style='z-index: 3'>
		<a href='profile'>PROFILE</a>
		<a href='home'>HOME</a>
		<a href='options'>OPTIONS</a>
	</div>

	<div class="submenu">
		<a href='favorites'>FAVORITES</a>
		<a class="active" href='recent'>RECENT</a>
	</div>

	<h1 align="center" class="header"> RECENTLY VIEWED </h1>

	{{#each recentrecipes}}
      <div class="recipes" id="{{name}}" >
        <a class="thumbnail" href="{{recipeURL}}">
          <img class="img-responzive" src="{{imageURL}}" />
          <h3>{{name}}</h3>
          <p>{{description}}</p>
          <label>{{servings}}</label>
          <br>
          <label>{{cookTime}}</label>
        </a>
      </div>
      <hr />
    {{/each}}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114632773-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114632773-2');
</script>

</body>
</html>