<!doctype html>

<html>
<head>
	<title>LAByrinth</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"> 
	<link href="/css/main.css" type="text/css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	
</head>

<body>
	<div id="navbar" class="scrollmenu">
		<a href='profile'>PROFILE</a>
		<a class="active" href='home'>HOME</a>
		<a href='options'>OPTIONS</a>
	</div>

	<div class="submenu">
		<a href='favorites'>FAVORITES</a>
		<a href='recent'>RECENT</a>
	</div>

	<!--
	<div id="navbar" class="scrollmenu">
		<a href='stats'>Stats</a>
		<a class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href='#'>Recipes
			<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href='recipeSearch'>Search</a></li>
				<li><a href='favorites'>Favorites</a></li>
				<li><a href='recent'>Recent Recipes</a></li>
			</ul>
		</a>
		<a href='options'>Options</a>
		<a href=#>Achievements</a>
	</div>
	-->

	<div class="topnav">
		<a href="home"> <button style="float: left; width: 70px" class="backbutton"> CANCEL </button> </a>
	</div>

	<h1 align="center" class="header" style="margin-top: 50px"> 
		NEW MEAL PLAN
	</h1>

	
	 <div class="container" style="width: 90%;">
	 	
		<br>

		<h4 class="texts" style="margin-bottom: 5px"> 
	 		Search for a recipe to cook
	 	</h4>
		<input class="textbox" placeholder="    ex: Grilled Chicken"></input>
		<br>

	<!--
		<label class="listLabel" style="font-size: 20px; text-align: center";>
		  	<input style="border: none; width: 20px; height: 20px;margin-bottom: 20px" type="checkbox" > 
			</input>
			Search for this ingredient
		</label>
	-->

		<a href='recipeList'><button type="submit" class="buttons">
			SEARCH
		</button></a>
		<br>

	 	<h4 class="texts" style="text-align: center; margin-bottom: 30px"> 			OR 
	 	</h4>
	
		<h4 class="texts" style="margin-bottom: 5px"> 
	 		Select from list of recommended recipes
	 	</h4>
		<a href='recipeList'><button class="buttons"> 
			SHOW ALL RECIPES
		</button></a>

		<h4 class="texts" style="text-align: center; margin-bottom: 30px"> 			OR 
	 	</h4>
	
		<h4 class="texts" style="margin-bottom: 5px"> 
	 		Create your own recipe!
	 	</h4>

	 	<form role="form" method="get" action="/create">
			<input type="text" class="textbox" name="customRecipe" placeholder="    ex: Grilled Chicken"></input>
			<h4 class="texts" style="margin-bottom: 5px"> 
	 		Select amount of meals to cook
	 	</h4>
	 	<input type="range" min="1" max="10" value="1" class="slider" id="meals"></input>
	 	<p class="texts" style="display: inline-block; vertical-align: top; float: left; width: 0px"> AMOUNT: </p>
	 	<p class="texts" style="display: inline-block; text-align: center; font-size: 30px; margin-bottom: 25px;"> <span id="amt"></span></p>

			<input type="submit" href='home' style="margin-bottom: 100px" class="buttons" value="CREATE">
			</input>
		</form>
		<br>


	</div> 
	<br>

	
	<!--
	{{#each recipes}}
      <div class="recipes" id="{{name}}" >
        <a class="thumbnail" href="{{recipeURL}}">
          <img class="img-responzive" src="{{imageURL}}" />
          <h3>{{name}}</h3>
          <p>{{description}}</p>
          <label>{{servings}}</label>
          <br>
          <label>{{cookTime}}</label>
        </a>
      </div>
      <hr />
    {{/each}}
	-->

<!-- for the slider -->
<script>
	var slider = document.getElementById("meals");
	var output = document.getElementById("amt");
	output.innerHTML = slider.value;

	slider.oninput = function() {
	  output.innerHTML = this.value;
	}
</script>


<script src="js/jquery-1.11.0.js"></script>
<script src="js/bootstrap.js"></script>
<script src="/js/dishcount.js"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114632773-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114632773-2');
</script>
	
</body>
</html>