<!doctype html>

<html>
<head>
	<title>LAByrinth</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"> 
	<link href="/css/main.css" type="text/css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	
</head>

<body>
	<div id="navbar" class="scrollmenu">
		<a href='profileB'>Profile</a>
		<a class="active" href='recipeSearchB'>Recipes</a>
		<a href='optionsB'>Options</a>
	</div>

	<div class="submenu">
		<a href='favoritesB'>Favorites</a>
		<a href='recentB'>Recent</a>
	</div>

	<!--
	<div id="navbar" class="scrollmenu">
		<a href='stats'>Stats</a>
		<a class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href='#'>Recipes
			<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href='recipeSearch'>Search</a></li>
				<li><a href='favorites'>Favorites</a></li>
				<li><a href='recent'>Recent Recipes</a></li>
			</ul>
		</a>
		<a href='options'>Options</a>
		<a href=#>Achievements</a>
	</div>
	-->

	
	<h1 align="center" class="header"> SEARCH FOR RECIPES </h1>

	

	 <div class="container">
	 	


		<h3><b></b></h3> <br>
		<input id="mainsearch" placeholder="Enter recipe here"></input>
			<br>
		<input type="checkbox"> Search for this ingredient </input>

		<a href='recipeList'><button type="submit" class="searchbtn">Search!</button></a>
			 	<br>

	 	<h4 style="margin-bottom: 30px"> OR </h4>
	
	
<a href='recipeList'><button class="searchbtn"> Show all recipes </button></a>
	</div> 
	<br>

	
	<!--
	{{#each recipes}}
      <div class="recipes" id="{{name}}" >
        <a class="thumbnail" href="{{recipeURL}}">
          <img class="img-responzive" src="{{imageURL}}" />
          <h3>{{name}}</h3>
          <p>{{description}}</p>
          <label>{{servings}}</label>
          <br>
          <label>{{cookTime}}</label>
        </a>
      </div>
      <hr />
    {{/each}}
	-->



<script src="js/jquery-1.11.0.js"></script>
<script src="js/bootstrap.js"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114632773-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114632773-2');
</script>
	
</body>
</html>