<!doctype html>

<html>
<head>
	<title>LAByrinth</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"> 
	<link href="/css/toggle.css" type="text/css" rel="stylesheet">
	<link href="/css/main.css" type="text/css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	
</head>

<body>
	<div id="navbar" class="scrollmenu">
		<a href='profile'>PROFILE</a>
		<a href='home'>HOME</a>
		<a href='options'>OPTIONS</a>
	</div>

	<div class="submenu">
		<a class="active" href='recipeSearch'>SEARCH</a>
		<a href='favorites'>FAVORITES</a>
		<a href='recent'>RECENT</a>
	</div>

	<!--
	<div id="navbar" class="scrollmenu">
		<a href='stats'>Stats</a>
		<a class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href='#'>Recipes
			<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href='recipeSearch'>Search</a></li>
				<li><a href='favorites'>Favorites</a></li>
				<li><a href='recent'>Recent Recipes</a></li>
			</ul>
		</a>
		<a href='options'>Options</a>
		<a href=#>Achievements</a>
	</div>
	-->

	<div class="topnav">
		<a href="home"> <button style="float: left; width: 70px" class="backbutton"> BACK </button> </a>
	</div>

	<h1 align="center" class="header" style="margin-top: 50px"> 
		SEARCH
	</h1>

	
	 <div class="container" style="width: 90%;">
	 	
		<br>

		<h4 class="texts" style="margin-bottom: 5px; font-size: 25px"> 
	 		Search for a recipe to cook
	 	</h4>
		<input class="textbox" style="margin-bottom: 5px;" placeholder="    ex: Grilled Chicken"></input>;
		<br>
		<h4 class="texts" style="display: inline-block; float: left; font-size: 22px; margin-bottom: 5px"> 
	 		OPTIONAL FILTERS
	 	</h4>

		<label class="switchB" style="display: inline-block; float: right; margin-top: 10px; margin-bottom: 0px">
		  <input type="checkbox" onclick="toggle()"></input>
		  <span class="sliderB round"></span>
		</label>

	 <div class="newAccount" style="display: none; width: 85%;">
	 	<p style="margin-top: 50px;"></p>
	 	<h4 class="texts" style="margin-bottom: 5px"> 
	 		Serving Size
	 	</h4>
		<input class="textbox" style="margin-bottom: 0px;" placeholder="    ex: 2"></input>
		<br>
		<h4 class="texts" style="margin-bottom: 5px; "> 
	 		Difficulty
	 	</h4>
		<button class="buttonsB opts activeB" onclick="changeColor(1)" style="width: 30%; display: inline-block; margin: 1px"> 
			NOVICE 
		</button>
		<button class="buttonsB opts" onclick="changeColor(2)" style="width: 30%; display: inline-block; margin: 1px;"> 
			AVERAGE
		</button>
		<button class="buttonsB opts" onclick="changeColor(3)" style="width: 30%; display: inline-block; margin: 1px"> 
			PRO
		</button>
	</div>
	<!--
		<label class="listLabel" style="font-size: 20px; text-align: center";>
		  	<input style="border: none; width: 20px; height: 20px;margin-bottom: 20px" type="checkbox" > 
			</input>
			Search for this ingredient
		</label>
	-->

		<a href='recipeList'><button type="submit" class="buttons" style="margin-top: 20px">
			SEARCH
		</button></a>
		<br>

	 	<h4 class="texts" style="text-align: center; margin-bottom: 30px; font-size: 30px"> 			OR 
	 	</h4>
	
		<h4 class="texts" style="margin-bottom: 5px; font-size: 25px"> 
	 		Select from recommended recipes
	 	</h4>
		<a href='recipeList'><button class="buttons" style="margin-bottom: 100px"> 
			SHOW ALL RECIPES
		</button></a>
	</div> 
	<br>

	
	<!--
	{{#each recipes}}
      <div class="recipes" id="{{name}}" >
        <a class="thumbnail" href="{{recipeURL}}">
          <img class="img-responzive" src="{{imageURL}}" />
          <h3>{{name}}</h3>
          <p>{{description}}</p>
          <label>{{servings}}</label>
          <br>
          <label>{{cookTime}}</label>
        </a>
      </div>
      <hr />
    {{/each}}
	-->

<!-- for the slider -->
<script>
var slideIndex = 3;

function changeColor(n) {
	slideIndex = n;
	var i;
	var opts = document.getElementsByClassName("opts");

	if (n > opts.length) {slideIndex = 1} 
  	if (n < 1) {slideIndex = opts.length}
	for (i = 0; i < opts.length; i++) {
		console.log(opts[i].className);
	    opts[i].className = opts[i].className.replace(" activeB", "");
	}

	opts[slideIndex-1].className += " activeB";
}
</script>

<script>
function toggle() {
    var elements = document.querySelectorAll('.newAccount');

    for (var i = 0; i < elements.length; i++) {
    	if (elements[i].style.display === "none") {
    		elements[i].style.display = "block";
    	}
    	else {
    		elements[i].style.display = "none";
    	}
    }
    console.log("ssd");
}
</script>


<script src="js/jquery-1.11.0.js"></script>
<script src="js/bootstrap.js"></script>
<script src="/js/dishcount.js"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114632773-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114632773-2');
</script>
	
</body>
</html>