<!doctype html>

<html>
<head>
	<title>LAByrinth</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"> 
	<link href="/css/main.css" type="text/css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	
</head>
<body>
	<div class="scrollmenu">
		<ul>
			<li><a href='stats'>Stats</a></li>
			<li><a class="active" href='recipeSearch'>Recipes</a></li>
			<li><a href='options'>Options</a></li>
			<li><a href='favorites'>Favorites</a></li>
			<li><a href='recent'>Recent</a></li>
		</ul>
	</div>
	<br />
	<!-- <div class="container">
		<label><b>Search for recipes</b></label>
		<input type="text" placeholder="enter recipe here">
		<button type="submit">Search!</button>
	</div> -->
	<br />

	<div style="margin-bottom: 35px">
		<a href=""><button id=recent> Recently Viewed </button></a>
	</div>
	
	{{#each recipes}}
      <div class="recipes" id="{{name}}" >
        <a class="thumbnail" href="{{recipeURL}}">
          <img class="img-responzive" src="{{imageURL}}" />
          <h3>{{name}}</h3>
          <p>{{description}}</p>
          <label>{{servings}}</label>
          <br>
          <label>{{cookTime}}</label>
        </a>
      </div>
      <hr />
    {{/each}}

<script>

</script>

<script src="js/jquery-1.11.0.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/recipes.js"></script>

	
</body>
</html>