<!doctype html>

<html>
<head>
	<title>LAByrinth</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"> 
	<link href="/css/main.css" type="text/css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	
</head>

<body>
	<div id="navbar" class="scrollmenu">
		<a href='profile'>Profile</a>
		<a href='stats'>Stats</a>
		<a href='achievements'> Achievements </a>
		<!--a href="home"> Home </a-->
		<a class="active" href='recipeSearch'>Recipes</a>
		<a href='favorites'>Favorites</a>
		<a href='recent'>Recent</a>
		<a href='options'>Options</a>
		
	</div>

	<!--
	<div id="navbar" class="scrollmenu">
		<a href='stats'>Stats</a>
		<a class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href='#'>Recipes
			<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href='recipeSearch'>Search</a></li>
				<li><a href='favorites'>Favorites</a></li>
				<li><a href='recent'>Recent Recipes</a></li>
			</ul>
		</a>
		<a href='options'>Options</a>
		<a href=#>Achievements</a>
	</div>
	-->
	<div class="topnav">
		<button onclick="goBack()" style="float: left;" class="backbutton"> BACK </button>
	</div>	

	<div class="container" style="width: 90%">
		<h1 align="center" class="header" style="margin-top: 50px"> RECIPES </h1>

		{{#each recipes}}
	      <div class="recipeList" id="{{name}}" >
	        <a class="thumbnail" href="{{recipeURL}}">
	          <img class="img-responzive" src="{{imageURL}}" />
	          <h3>{{name}}</h3>
	          <p>{{description}}</p>
	          <label>{{servings}}</label>
	          <br>
	          <label>{{cookTime}}</label>
	          <br>
	          <label>{{difficulty}}</label>
	        </a>
	      </div>
	      <hr />
	    {{/each}}

	</div>


<script src="js/jquery-1.11.0.js"></script>
<script src="js/bootstrap.js"></script>
<script src="/js/dishcount.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114632773-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114632773-2');
</script>

	
</body>
</html>